@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@400;500;700&display=swap');

:root {
  --bg-color: #490eb4;
  --bg-color-light: #4c11be;
  --bg-color-dark: #4710ac;
  --activity-element-color: #da4bfd;
  --typography-color: white;
  --typography-color-accent: #cf47f7;
}

:root {
  --z-index-header: 15;
  --z-index-content: 10;
  --z-index-bg-pattern: -1;
}

* {
  font-family: 'Montserrat', sans-serif;
  color: var(--typography-color);
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  background: var(--bg-color);
  overflow-x: hidden;
}

main {
  position: relative;
  z-index: var(--z-index-content);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

p {
  margin: 0;
  word-spacing: -0.05rem;
  text-transform: capitalize;
}
